<a href="https://colab.research.google.com/github/Shrinath262/Basic-python/blob/Shrinath262-patch-1/Basic_Operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**LIST**

In [ ]:
# Creating a list

l1 = [1,2,3,4,5]
l2 = ["Apple","Mango","Orange"]
print("Integer list: ",l1)
print("String list: ",l2)

Integer list:  [1, 2, 3, 4, 5]
String list:  ['Apple', 'Mango', 'Orange']

In [ ]:
# Duplicate values in list

a = [1,2,3,4,5,6,1,2,3]
print("Duplicate value: ",a)

Duplicate value:  [1, 2, 3, 4, 5, 6, 1, 2, 3]

In [ ]:
# List item change

x = ["Apple","Banana","Cherry","Mango","Kiwi"]
print("Current list: ",x)

x[1:3] = ["Grapes","Orange"]
print("Updated list: ",x)

Current list:  ['Apple', 'Banana', 'Cherry', 'Mango', 'Kiwi']
Updated list:  ['Apple', 'Grapes', 'Orange', 'Mango', 'Kiwi']

In [ ]:
# Insert into list

t = [1,2,3,4,5,6]
print("Current list: ",t)

t.insert(4,"python")
print("Updated list: ",t)

Current list:  [1, 2, 3, 4, 5, 6]
Updated list:  [1, 2, 3, 4, 'python', 5, 6]

In [ ]:
# Extended the list

x1 = [1,2,3,4,5]
x2 = ["a","b","c"]

x1.extend(x2)
print(x1)

[1, 2, 3, 4, 5, 'a', 'b', 'c']

In [ ]:
# Remove item from list

s = [1,2,3,4,5,6,7]
print("Current list: ",s)

s.remove(4)
print("Updated list: ",s)

Current list:  [1, 2, 3, 4, 5, 6, 7]
Updated list:  [1, 2, 3, 5, 6, 7]

In [ ]:
# Clear item from list

s = [1,2,3,4,5,6,7]
print("Current list: ",s)

s.clear()
print("Updated list: ",s)

Current list:  [1, 2, 3, 4, 5, 6, 7]
Updated list:  []

In [ ]:
# pop() method 

x_z = [1,2,3,4,5,6]
print("Current list: ",x_z)

x_z.pop()
print("Updated list: ",x_z)

Current list:  [1, 2, 3, 4, 5, 6]
Updated list:  [1, 2, 3, 4, 5]

In [ ]:
# Reverse() method

l1 = [1,2,3,4,5,6]
print(l1)

l1.reverse()
print(l1)

[1, 2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 1]

In [ ]:
# del() method 

l1 = [1,2,3,4,5,6]
print(l1)

del l1 [2]
print(l1)

[1, 2, 3, 4, 5, 6]
[1, 2, 4, 5, 6]

In [ ]:
# copy of the list

l1 = [1,2,3,4,5,6]
print("Current list: ",l1)

l1.copy()
print("Updated list: ",l1)

Current list:  [1, 2, 3, 4, 5, 6]
Updated list:  [1, 2, 3, 4, 5, 6]

In [ ]:
# Append method

a = ["apple","banana","cherry"]
b = ["ford","bmw","volvo"]

a.append(b)
print(a)

['apple', 'banana', 'cherry', ['ford', 'bmw', 'volvo']]

In [ ]:
# list convert into a tuple

my_list = [1,2,3,4,5]
print(my_list)

my_tuple = tuple(my_list)
print(my_tuple)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)

In [ ]:
# list convert into a set

my_list = [1,2,3,4,5]
print(my_list)

my_set = set(my_list)
print(my_set)

[1, 2, 3, 4, 5]
{1, 2, 3, 4, 5}

In [ ]:
# Index / Slicing in the list

l1 = [1,2,3,4,5,6,7,8,9,10]

print("current list: ",l1)

print("index 1 value: ",l1)

print("index between 1 to 7: ",l1[1:7])

current list:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
index 1 value:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
index between 1 to 7:  [2, 3, 4, 5, 6, 7]

**TUPLE**

In [ ]:
# Create tuple

t1 = ("Apple","Orange","Cherry",1,2,3,4,5,10.5,56.40,12.5)
print("Current list: ",t1)

Current list:  ('Apple', 'Orange', 'Cherry', 1, 2, 3, 4, 5, 10.5, 56.4, 12.5)

In [ ]:
# checking length of tuple

abc = ("Apple","Orange","Cherry",1,2,3,12.5)
print("size: ",len(abc))

size:  7

In [ ]:
# Indexing / Sclicing into a tuple

t1 = ("Apple","Orange","Cherry",1,2,3,4,10.5,12.5)

print("current tuple: ",t1)
print("index 1 value: ",t1[1])
print("index between 1 to 6: ",t1[1:6])
print("last value: ",t1[-1])
print("value till index 6: ",t1[:6])

current tuple:  ('Apple', 'Orange', 'Cherry', 1, 2, 3, 4, 10.5, 12.5)
index 1 value:  Orange
index between 1 to 6:  ('Orange', 'Cherry', 1, 2, 3)
last value:  12.5
value till index 6:  ('Apple', 'Orange', 'Cherry', 1, 2, 3)

In [ ]:
# convert tuple into list

t1 = ("Apple","Orange","Cherry",1,2,3,4,10.5,12.5)
print("current tuple: ",t1)

x = list(t1)
print("after convert: ",x)

current tuple:  ('Apple', 'Orange', 'Cherry', 1, 2, 3, 4, 10.5, 12.5)
after convert:  ['Apple', 'Orange', 'Cherry', 1, 2, 3, 4, 10.5, 12.5]

In [ ]:
# add item but after converting tuple into list

z = ("apple","orange","mango","cherry")
print("current tuple: ",z) # before convert
print(type(z))

# convert tuple into list

x = list(z)
print(x)     # after convert
print(tuple(x))

# add item into list

x[1] = "kiwi"
print("updated list: ",x)

# convert list into tuple again

y = tuple(x)
print("updated tuple: ",y)

current tuple:  ('apple', 'orange', 'mango', 'cherry')
<class 'tuple'>
['apple', 'orange', 'mango', 'cherry']
('apple', 'orange', 'mango', 'cherry')
updated list:  ['apple', 'kiwi', 'mango', 'cherry']
updated tuple:  ('apple', 'kiwi', 'mango', 'cherry')

In [ ]:
# count method

k = [13,18,11,56,18,18,11,78]
k.count(18)

3

**SET**

In [ ]:
# set of letters

z = {'s','k','d','p','r'}
print(z)

{'r', 's', 'k', 'p', 'd'}

In [ ]:
# adding 'z'

z = {'s','k','d','p','r'}
z.add('g')
print("updating set: ",z)

# discarding element from the set

z.discard('p')
print("after discarding element: ",z)

# Remove element

z.remove('d')
print("removing element: ",z)

# pop method
print("popped element: ",z.pop())
print("set after updating: ",z)

# clear method

z.clear()
print("after updating: ",z)

updating set:  {'g', 'r', 's', 'k', 'p', 'd'}
after discarding element:  {'g', 'r', 's', 'k', 'd'}
removing element:  {'g', 'r', 's', 'k'}
popped element:  g
set after updating:  {'r', 's', 'k'}
after updating:  set()