<a href="https://colab.research.google.com/github/Shrinath262/Basic-python/blob/main/Python_Loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python Loop**

In [1]:
# for loop / Sequential loop

z = []
for i in range (1,21):
    z.append(i)
print(z)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [2]:
# While loop / Conditional loop

z = []
i = 21
while i>1:
    i = i-1
    z.append(i)
print(z)

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [3]:
# Conditinal loop

p = int(input("Enter your percentage: "))
if (p > 90):
    print("O Grade")
elif (p > 80):
    print("A Grade")
elif (p > 60):
    print("B Grade")
elif (p > 35):
    print("C Grade")
else:
    print("Fail")

Enter your percentage: 78
B Grade

In [4]:
# conditional loop for prime number

y_z = int(input("Enter number: "))
if y_z > 1:
    for i in range(2,y_z):
        if (y_z % i) == 0:
            
            print("Number is not prime")
            break
    else:
        print("Number is prime")

Enter number: 2
Number is prime

In [5]:
# wrute for loop for printing odd value using continue statement

num = int(input("start: "))
for n in range(1,num):
    if n%2 !=0:  
        print(n)
        continue

start: 12
1
3
5
7
9
11

In [6]:
# write code need given ans
# A1
# B2
# C3
# .
# .
# Z26

for i in range(1,27):
    print(chr(64+i)+str(i))

A1
B2
C3
D4
E5
F6
G7
H8
I9
J10
K11
L12
M13
N14
O15
P16
Q17
R18
S19
T20
U21
V22
W23
X24
Y25
Z26

In [7]:
'''Write code reverse to given tuple (don’t use reverse method )
T=(1,3,2,4,6,5)'''

h=(1,3,2,4,6,5)
print(h)
h = h[::-1]  
print(h)

(1, 3, 2, 4, 6, 5)
(5, 6, 4, 2, 3, 1)

In [8]:
'''Write code print “statistics” like that'''

word="statistics"
for i in range(len(word)):
    if word[i]=='s':  
        print('Python')
    print(word[i])

Python
s
t
a
t
i
Python
s
t
i
c
Python
s

In [9]:
for i in "statistics":
    if i=='s':
        print("python")
    print(i)

python
s
t
a
t
i
python
s
t
i
c
python
s

In [10]:
'''alpha= [a,b,c,d,e,f,g,h,i]
Print every word and stop iteration after getting g ltr'''

alpha = ("a","b","c","d","e","f","g","h","i")
for i in alpha:
    if i=="g":
        break
    print(i)

a
b
c
d
e
f